<section class="about-fund">
    <div class="container">
        <div class="about-fund__wrapper">
            <div class="about-fund__left">
                <h2 class="title about-fund__title">О ФОНДЕ</h2>
                <p class="about-fund__desc">
                    Проект Деменция.net создан в 2021 году благотворительным фондом «Память поколений».
                    <br>
                    <br>
                    Благотворительный фонд «Память поколений» был основан почти 6 лет назад 22 июня – в День памяти и скорби.
                    <br>
                    <br>
                    Наш фонд помогает ветеранам Великой Отечественной войны и современных боевых действий (в Афганистане, Чечне, Сирии). Всего за время существования фонда мы помогли почти 16000 ветеранов.
                    <br>
                    <br>
                    Это огромное множество операций, курсов реабилитации, современных протезов и слуховых аппаратов, дорогостоящих колясок и комплектов медикаментов, средств личной гигиены. Но, что важнее, это тысячи изменившихся к лучшему жизней людей.
                </p>
            </div>
            <div class="about-fund__right">
                <img class="about-fund__logo" width="173" height="245" src="/img/svg/pamyatpokoleniy-logo.svg" alt="Память поколений">
            </div>
            <div class="about-fund__bottom">
                <a class="btn btn-secondary about-fund__bottom-link" href="https://pamyatpokoleniy.ru" target="_blank">ПЕРЕЙТИ НА САЙТ ФОНДА</a>
                <img class="about-fund__bottom-img" height="200" width="400" src="/img/svg/semi-circle.svg" alt="">
            </div>
        </div>
    </div>
</section>