<section class="contacts">
    <div class="container">
        <h2 class="title contacts__title">Контакты</h2>
        <div class="contacts__wrapper">
            <div class="contacts__item">
                <svg class="contacts__item-icon" width="45" height="45">
                    <use xlink:href="/img/sprite.svg#i-phone" />
                </svg>
                <p class="contacts__item-content">
                    <a href="tel:+74959330020">+ 7 (495) 933-00-20</a> <br>
                    ПН-ПТ с 9:00 до 18:00 МСК
                </p>
            </div>
            <div class="contacts__item">
                <svg class="contacts__item-icon" width="45" height="45">
                    <use xlink:href="/img/sprite.svg#i-evenlope-mail" />
                </svg>
                <a class="contacts__item-content" href="mailto:info@деменция.net" target="_blank">info@деменция.net</a>
            </div>
        </div>
    </div>
</section>