<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="/">
                <img src="./assets/img/svg/logo.svg" alt="деменция.net">
            </a>
            <div class="mobile-menu" id="mobile-menu">
               <div class="mobile-menu__content">
                    <img class="mobile-menu__logo" src="./assets/img/svg/logo.svg" alt="деменция.net">
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a class="nav__link" href="#">О деменции</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Пройти тест</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Мероприятия</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Видеокурсы</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Новости</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">О фонде</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Партнеры</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Контакты</a>
                            </li>
                        </ul>
                    </nav>
               </div>
               <button class="mobile-menu__close"></button>
            </div>
            <button class="burger mobile-menu-toggle" data-target="#mobile-menu">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>
    </div>
</header>