<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__title">
                    Мероприятия <br> по когнитивному здоровью
                </h1>
                <div class="hero__links">
                    <a class="hero__link" href="#become-volunteer-modal" rel="modal:open">Стать волонтёром</a>
                    <a class="hero__link" href="#">Записаться на мероприятие</a>
                    <a class="hero__link" href="#news">Новости</a>
                </div>
                <img class="hero__puzzle" src="./assets/img/svg/hero-puzzle.svg" alt="puzzle">
            </div>
            <div class="hero__right">
                <p class="hero__desc">
                    <span style="font-size: 24px;">«Деменция.нет»</span> —  это целый комплекс мероприятий для самой широкой аудитории участников: встречи по профилактике деменции, тестирование и тренинги для сохранения когнитивного здоровья. Выбирайте город, удобное время и место, регистрируйтесь на мероприятие  
                </p>
                <a class="btn btn-secondary hero__right-link" href="#">Выбрать мероприятие</a>
            </div>
        </div>
    </div>
</section>