<section class="news">
    <div class="container">
        <h2 class="title news__title">Что нового?</h2>
        <p class="news__subtitle">Лента новостей</p>
        <div class="news__listing">
            <div class="news-card">
                <img src="./assets/img/jpg/news-card.jpg" srcset="./assets/img/jpg/news-card.jpg 1x, ./assets/img/jpg/news-card@2x.jpg 2x" alt="" class="news-card__img">
                <h3 class="news-card__title">Геронтология и гериатия</h3>
                <p class="news-card__desc">В настоящее время во всем мире увеличивается продолжительность жизни людей. Это связано со снижением смертности и рождаемости.</p>
                <a href="#" class="news-card__link">Подробнее</a>
            </div>
            <div class="news-card">
                <img src="./assets/img/jpg/news-card.jpg" srcset="./assets/img/jpg/news-card.jpg 1x, ./assets/img/jpg/news-card@2x.jpg 2x" alt="" class="news-card__img">
                <h3 class="news-card__title">В Ульяновске открылся центр профилактики когнитивных расстройств у лиц старшего возраста</h3>
                <p class="news-card__desc">На базе центра активного долголетия открыт центр профилактики когнитивных расстройств.</p>
                <a href="#" class="news-card__link">Подробнее</a>
            </div>
            <div class="news-card">
                <img src="./assets/img/jpg/news-card.jpg" srcset="./assets/img/jpg/news-card.jpg 1x, ./assets/img/jpg/news-card@2x.jpg 2x" alt="" class="news-card__img">
                <h3 class="news-card__title">В Омске открылся центр профилактики когнитивных расстройств у лиц старшего возраста</h3>
                <p class="news-card__desc">В центре любой желающий сможет бесплатно пройти тестирование на наличие когнитивных изменений</p>
                <a href="#" class="news-card__link">Подробнее</a>
            </div>
            <div class="news-card">
                <img src="./assets/img/jpg/news-card.jpg" srcset="./assets/img/jpg/news-card.jpg 1x, ./assets/img/jpg/news-card@2x.jpg 2x" alt="" class="news-card__img">
                <h3 class="news-card__title">В Санкт- Петербурге открылся центр профилактики когнитивных расстройств у лиц старшего возраста</h3>
                <p class="news-card__desc">На базе Совета ветеранов войны, труда, вооруженных сил и правоохранительных органов Санкт-Петербурга и Ленинградской области открылся центр профилактики когнитивных расстройств.</p>
                <a href="#" class="news-card__link">Подробнее</a>
            </div>
        </div>
        <div class="load-more">
            <button type="button" class="btn btn-primary">Больше новостей</button>
        </div>
    </div>
</section>