<section class="volunteers">
    <div class="container">
        <div class="volunteers__wrapper">
            <div class="volunteers__left">
                <h2 class="title volunteers__title">Волонтёры</h2>
                <p class="volunteers__desc">Для волонтеров  человек представляет самую большую ценность. Через помощь тем, кто в ней нуждается, волонтеры стремятся решать и важные социальные проблемы. Забота о когнитивном здоровье и профилактика деменции – одна из них. В рамках поддержки проекта Деменция.нет, волонтеры проходят специальное обучение, после которого сами проводят просветительские мероприятия, тренинги, тестируют участников на состояние когнитивных функций. Если вы хотите стать не только экспертом в области когнитивного здоровья и особенностей здоровья пожилых, но и помогать решать проблему деменции в России, присоединяйтесь к волонтерскому сообществу проекта Деменция.нет</p>
                <a class="btn btn-bordered btn-primary volunteers__link" href="#">Стать волонтёром</a>
            </div>
            <div class="volunteers__right">
                <img class="volunteers__img" width="620" height="550" src="./assets/img/jpg/volunteers.jpg" srcset="./assets/img/jpg/volunteers.jpg 1x, ./assets/img/jpg/volunteers.jpg 2x" alt="">
                <p class="volunteers__img-desc">
                    — Помогаем Вам заботиться о мозге в любом возрасте
                    <svg class="icon" width="14" height="29">
                        <use xlink:href="./assets/img/sprite.svg#i-subtract" />
                    </svg>
                </p>
            </div>
        </div>
    </div>
</section>