.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1310px;
}

.load-more {
    margin-top: 50px;
    text-align: center;
}
.title {
    color: $green;
    font-size: 62px;
    text-transform: uppercase;
}
