/**
 * Colors
 */
$white: #ffffff;
$purple: #6d097a;
$green: #00926f;
$gray: #666666;
$red: #dd2a2e;
$light-gray: #929699;
$light-green: #cbe6df;

/**
 * Breakpoints
 */

$md-min-breackpoint: 1200px;
$sm-min-breackpoint: 960px;
$xs-min-breackpoint: 640px;

$md-max-breackpoint: 1199px;
$sm-max-breackpoint: 959px;
$xs-max-breackpoint: 639px;
