.news {
    padding: 80px 0 50px;
    margin-top: 65px;
    background-color: $light-green;
    &__subtitle {
        font-size: 18px;
        color: $gray;
        margin-top: 40px;
    }
    &__listing {
        margin-top: 35px;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
    }
}
